<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>House Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>House List</h1>
	
	<a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add House </a>
	
		<table border="1"  class = "table table-striped table-responsive-md" >
			<thead>
				<tr>
					<th>PropertyId</th>
					<th>Address</th>
					<th>Bedrooms</th>
					<th>Bathrooms</th>
					<th>Size_sqft</th>
					<th>Price</th>
					<th>contactNumber</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="house : ${listProducts}">
					<td th:text="${house.pid}"></td>
					<td th:text="${house.address}"></td>
					<td th:text="${house.bedrooms}"></td>
					<td th:text="${house.bathrooms}"></td>
					<td th:text="${house.size_sqft}"></td>
					<td th:text="${house.price}"></td>
					<td th:text="${house.ownercontactnumber}"></td>
					
					<td> <a th:href="@{/showFormForUpdate/{pid}(pid=${house.pid})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteEmployee/{pid}(pid=${house.pid})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<a th:href="@{/}" class="btn btn-primary">Home</a>
	</div>
</body>
</html>