<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>House Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>House Management System</h1>
		<hr>
		<h2>Update House</h2>

		<form action="#" th:action="@{/saveEmployee}" th:object="${house}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="text" th:field="*{pid}" readonly="readonly" />
			
			<input type="text" th:field="*{address}" class="form-control mb-4 col-4">
				
				<input type="number" th:field="*{bedrooms}" class="form-control mb-4 col-4">
				
				<input type="number" th:field="*{bathrooms}" class="form-control mb-4 col-4">
				<input type="number" th:field="*{size_sqft}" class="form-control mb-4 col-4">
				<input type="number" th:field="*{price}" class="form-control mb-4 col-4">
				<input type="text" th:field="*{ownercontactnumber}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update House</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/homepage}"> Back to House List</a>
	</div>
</body>
</html>